/* Tablet media */
@media (min-width: 768px) {
  /* Start Hero Section */
  .hero {
    padding: 3rem 3rem 5.5rem;
  }

  .hero .hero__heading {
    font-weight: var(--font-weight-bold);
    letter-spacing: -1%;
    font-size: 3.25rem;
    line-height: 3.75rem;
    width: 672px;
  }
  /* End Hero Section */

  /* start blog section */
  .blog .container {
    padding: 3rem 2rem;
  }

  .blog-card__content {
    gap: 0.75rem;
  }

  .blog-card__image {
    height: 18.6875rem;
  }

  .blog-card__title {
    font-size: 1.375rem;
    line-height: 1.875rem;
    letter-spacing: -1%;
    height: auto;
  }

  .blog-list .blog-card {
    flex-direction: row;
  }

  .blog-list .blog-card__image {
    width: 11.75rem;
    height: 10.375rem;
    flex-shrink: 0;
  }
  /* end blog section */

  /* Start subscribe section */
  .subscribe {
    width: 100%;
    padding: 2.5rem 2rem;
  }
  .subscribe .container {
    gap: 2rem;
  }
  .subscribe__text h4 {
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.0625rem;
    width: 40.625rem;
  }
  .subscribe__action {
    width: 35.25rem;
  }
  .subscribe__input {
    flex-direction: row;
    gap: 0;
  }
  .subscribe__input input {
    width: 29.75rem;
    border-radius: 0;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  .subscribe__input button {
    border-radius: 0;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
  .subscribe__action span {
    display: block;
    margin-top: 0.5rem;
  }
  /* end subscribe section */

  /* start Latest Blog */
  .latest__blogs {
    padding: 3rem 2rem;
    gap: 2rem;
  }
  .latest__blogs h3 {
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .latest__blogs .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 2rem;
  }
  .latest__blog--item {
    width: calc(50% - 1rem);
  }
  .latest__blog--item.inActive {
    display: none;
  }
  .latest__blogs--image {
    height: 17.8125rem;
  }
  .latest__blogs--content h5 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
  /* end Latest Blog */
}

/* Desktop media */
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
  /* start Navbar */
  .navbar {
    padding: 1.25rem 10rem;
  }
  .navbar__content {
    display: flex;
  }
  .bars__btn {
    display: none;
  }
  /* end Navbar */

  /* Start Hero Section */
  .hero .container {
    padding: 5rem 1.875rem 5.75rem;
    width: 80%;
    gap: 1rem;
  }
  .hero__heading .hero__mobile-text {
    display: none;
  }
  .hero__heading .hero__desktop-text {
    display: block;
    width: 36.25rem;
  }

  /* End Hero Section */

  /* start blog section */
  .blog {
    order: 2;
  }
  .blog .container {
    flex-direction: row;
    gap: 2.5rem;
    padding: 4rem 2rem;
  }

  .blog-card--featured {
    width: 36.75rem;
    height: 26.125rem;
  }
  .blog-list .blog-card {
    width: 588px;
    height: 118px;
  }

  .blog-card--featured,
  .blog-list {
    flex: 1;
  }

  .blog-list .blog-card__image {
    width: 11.75rem;
    height: 7.375rem;
  }
  /* end blog section */

  /* Start subscribe section */
  .subscribe {
    order: 1;
    width: 100%;
    padding: 4rem 0;
    height: 17.75rem;
  }
  .subscribe .container {
    padding: 0 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7.5rem;
  }
  .subscribe__text {
    width: 41rem;
    height: 9.75rem;
    gap: 1.5rem;
  }
  .subscribe__text h4 {
    width: 37.5rem;
  }
  .subscribe__action {
    width: 27.5rem;
  }
  .subscribe__input {
    width: 100%;
    height: 4.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe__input input {
    width: 22rem;
  }
  .subscribe__input button {
    width: 5.5rem;
  }
  .subscribe__action span {
    margin-top: 0;
  }

  /* end subscribe section */

  /* start Latest Blog */
  .latest__blogs {
    padding: 4rem 2rem;
    gap: 4rem;
  }

  .latest__blogs .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .latest__blog--item {
    width: calc(33% - 2rem);
  }
  .latest__blog--item.inActive {
    display: flex;
  }
  .latest__blogs--image {
    width: 24rem;
    height: 17.8125rem;
  }
  /* end Latest Blog */
}
