/* reset & assets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* Colors */
  --neutral-color-100: #f8f9fb;
  --neutral-color-600: #eaebf0;
  --base-color: #ffffff;
  --primary-color-600: #437ef7;
  --primary-color-900: #2b63d9;
  --primary-color-200: #b1ccfb;
  --gray-700: #272d37;
  --gray-50: #5f6d7e;

  /* Font family */
  --font-family-inter: "Inter", sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Light.woff2") format("woff2"),
    url("../fonts/Inter18pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  color: var(--gray-700);
}

.container {
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
i {
  font-weight: inherit !important;
  color: inherit !important;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.125rem;
  font-weight: var(--font-weight-semibold);
  font-size: 0.9375rem;
}
.btn-primary {
  background-color: var(--primary-color-600);
  border-radius: 0.375rem;
  color: var(--base-color);
  transition: all 0.5s;
}
.btn-primary:hover {
  background-color: var(--primary-color-900);
}
.btn-ghost {
  color: var(--primary-color-600);
}

/* Start Navbar */
.navbar {
  border: 0.0625rem solid var(--neutral-color-600);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--neutral-color-100);
}
.navbar .container {
  gap: 4rem;
}
.navbar__content {
  display: none;
}
.bars__btn {
  display: block;
  font-size: 1.1rem;
}
.navbar__list {
  gap: 2rem;
  font-weight: var(--font-weight-semibold);
}
.dropdown__list {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
/* End Navbar */
/* Start Hero section */
.hero {
  background-color: var(--neutral-color-100);
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2.5rem;
  gap: 2rem;
  text-align: center;
}
.hero h4 {
  font-weight: var(--font-weight-semibold);
  color: var(--primary-color-600);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0063rem;
}
.hero .hero__heading {
  color: var(--gray-700);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -2%;
  line-height: 2.75rem;
  font-size: 2rem;
  width: 20rem;
  text-align: center;
}
.hero__heading .hero__desktop-text {
  display: none;
}
/* End Hero section */

/* Start Main */

/* Blog Section */
.blog .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.3125rem;
}

.blog-card__image {
  height: 11.5625rem;
  border-radius: 0.625rem;
  overflow: hidden;
}

.blog-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-card__title {
  font-weight: var(--font-weight-semibold);
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -2%;
  height: 28px;
  overflow: hidden;
}

.blog-card__excerpt {
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
  color: var(--gray-50);
}

.blog-card__date {
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-50);
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* End blog section */

/* Start subscribe section */

.subscribe {
  background-color: var(--primary-color-900);
  padding: 2rem 1rem;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.subscribe__text {
  gap: 1rem;
}
.subscribe__text h4 {
  font-weight: var(--font-weight-semibold);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -2%;
  color: var(--base-color);
  width: 21.875rem;
}
.subscribe__text p {
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
  color: var(--primary-color-200);
}
.subscribe__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subscribe__input input {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: none;
  outline: none;
  height: 2.875rem;
}
.subscribe__input button {
  padding: 0.75rem 1.125rem;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
  font-weight: var(--font-weight-semibold);
  height: 2.875rem;
}
.subscribe__action span {
  display: none;
  color: var(--primary-color-200);
  font-size: 0.875rem;
  letter-spacing: -0.0063rem;
}

/* End subscribe section */

/* start Latest Blog */
.latest__blogs {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  order: 3;
}
.latest__blogs h3 {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
.latest__blogs .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.latest__blog--item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.3125rem;
}
.latest__blog--item .latest__blogs--image {
  width: 100%;
  border-radius: 0.625rem;
  height: 13.1875rem;
  overflow: hidden;
}
.latest__blog--item .latest__blogs--image img {
  width: 100%;
  height: 100%;
}
.latest__blogs--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.latest__blogs--content time {
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-50);
}
.latest__blogs--content h5 {
  font-weight: var(--font-weight-semibold);
  color: var(--gray-700);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.latest__blogs--content a {
  color: var(--primary-color-600);
  font-weight: var(--font-weight-semibold);
  font-size: 0.9375rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.latest__blogs--content a i {
  font-weight: var(--font-weight-regular) !important;
}

/* end Latest Blog */

/* End Main */
